{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindBrowser Data</title>
    <!-- All CSS References Inline-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">

    <!-- All JS References Inline-->
    <link rel="stylesheet" type="text/js" href="{% static 'js/slim.min.js'%}">
    <link rel="stylesheet" type="text/js" href="{% static 'js/popper.min.js'%}">
    <link rel="stylesheet" type="text/js" href="{% static 'js/bootstrap.min.js'%}">
    <style>
        table, th, td {
          border:1px solid black;
        }
        .topright {
         position: absolute;
        top: 8px;
        right: 16px;
        font-size: 18px;
        color: gold;
}
    </style>
    
</head>
<body>
    <!--Header Start-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">MindBrowser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'sign up' %}">Sign Up</a>
    </li>
    <a class="topright" href="{% url 'post-create' %}">Add Employee</a> 
    </div>
    </nav>
    <!--Header Ends-->
    <br/>
    <br/>
    <!--Main Area Starts -->
    {% block content%}

    {% endblock %}

    <!--Main Area Content End -->
   
</body>
</html>