{% extends 'base.html'%} {% block content%}
<div>
<h3>Employee Data Information</h3>
{% if employees_list %}
<table style="width: 80%;">
    <thead>
        <th> emp_id </th>
        <th>first_name</th>
        <th>last_name</th>
        <th>address</th>
        <th>dob</th>
        <th>mobile</th>
        <th>city</th> 
    </thead>
    {% for emp in employees_list %}
    <tr>
        <td>{{emp.emp_id}} </td>
        <td>{{emp.first_name}}</td>
        <td>{{emp.last_name}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.dob}}</td>
        <td>{{emp.mobile}}</td>
        <td>{{emp.city}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p> No Employees Information</p>
{% endif %}
</div>
</br>
</br>
</br>
{% endblock content %}